<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="F9E90CB7D4A6207F7D4826CA2784AB0FDA87A74CE7FA5E8AF261F699F660182E1DAA52B031350F700EBB23CDF61C72F8F9E80A415FB7807B3F1B6DB4A9DF25D9" decryptionKey="03D30DB9C5FF5432C96511A22E490F30EE59645B315438959C8994AB943598F1" validation="SHA1" decryption="AES"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" requestLengthDiskThreshold="1024000" executionTimeout="3600"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <add key="BaseURL" value="/."/>
    <add key="FacebookConsumerKey" value="FACEBOOK KEY"/>
    <add key="FacebookConsumerSecret" value="FACEBOOK SECRET"/>
    <add key="TwitterConsumerKey" value="TWITTER KEY"/>
    <add key="TwitterConsumerSecret" value="TWITTER KEY"/>
  </appSettings>
  <connectionStrings>
    <add name="BazaarModelContainer" connectionString="metadata=res://*/BazaarModel.csdl|res://*/BazaarModel.ssdl|res://*/BazaarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SONY-PC\SQLEXPRESS;initial catalog=VirtualBazar;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="BazaarModelContainer" connectionString="metadata=res://*/BazaarModel.csdl|res://*/BazaarModel.ssdl|res://*/BazaarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=182.50.133.111;Initial Catalog=Vadbiz_;User ID=Vadsbiz;Password=Jaimatadi@4545;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>